{% extends "basely.html" %}
{% block base %}
<div class="container">
        <div style="margin-bottom:10px">
            <a class="btn btn-success" href="/admins_info/add/">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">{{ title }}</span>
            </a>
            <div style="float:right;width:300px">
                <form method="get">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="搜索" name="q" value="{{ search_data}}">
                      <span class="input-group-btn">
                          <button class="btn btn-default glyphicon glyphicon-search" type="submit"></button>
                      </span>
                     </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
          <span class="glyphicon glyphicon-tn-list" aria-hidden="true">管理员列表</span>
      </div>

      <!-- Table -->
      <table class="table table-bordered" >
        <thead>
          <tr>
              <th>管理员</th>
              <th>密码</th>
              <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr>
              <td>{{ obj.adminname }}</td>
              <td>{{ obj.adminpwd }}</td>
            <td>
                <a class="btn btn-primary btn-xs" href="/admins_info/{{ obj.id }}/edit/">编辑</a>
                <a class="btn btn-danger btn-xs" href="/admins_info/del/?pid={{ obj.id }}">删除</a>
                <a class="btn btn-danger btn-xs" href="/admins_info/{{ obj.id }}/reset/">重置密码</a>

            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </nav>


</div>
{% endblock %}

