<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>用户登录</h1>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for filed in form %}
                <div class="form-group">
                    <label>{{ filed.label }}</label>
                    {{ filed}}
                    <span style="color:red">{{ filed.errors.0}}</span>
                </div>
                {% endfor %}

                <div class="form-group">
                        <label for="id_code">图片验证码</label>
                        <div class="row">
                            <div class="col-xs-7">
                                <input type="text" name="code" class="form-control" placeholder="请输入图片验证码" required="" id="id_code">
                                <span style="color: red;"></span>
                            </div>
                            <!--<div class="col-xs-5">-->
                                <!--<img id="image_code" src="./pythonav资源分享_files/saved_resource">-->
                            <!--</div>-->
                        </div>
                </div>

                <button type="submit" class="btn btn-primary">登 录</button>
                <!--<button type="submit" class="btn btn-primary col-xs-3">登 录</button>-->
            </form>

</body>
</html>